@import url("https://fonts.googleapis.com/css2?gfamily=Poppins:wght@300;400;500;600&displayswap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(0, 0, 0);
}

a,
.btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #213547;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2.5rem;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  color: #213547;
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #213547;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #213547;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    color: #213547;
  }
}
.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.name {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 15vh;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.svgGithub {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
.svgGithub path {
  fill: #213547;
}

.secondSvg {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
.secondSvg path {
  fill: #213547;
}

.socialLinks {
  display: flex;
  flex-direction: row;
}
.socialLinks .github {
  display: flex;
  padding-right: 1rem;
}
.socialLinks .linkedin {
  display: flex;
  padding-left: 1rem;
}

.containerBox {
  background-color: aqua;
  width: 100%;
}

.containerOne {
  min-height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTwo {
  min-height: 50vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBoxTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 50vh;
  width: 100%;
}

:root {
  color: #213547;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}/*# sourceMappingURL=components.css.map */